# Fill your config
API_HASH = "58c4e84b9b2506684df6447d3e324dd9"
BOT_TOKEN = "7275842883:AAGyJLFL567nzFoFBmteTzk-K2dYA7AWu-U"
TELEGRAM_API = "20841292"
OWNER = "6052303737"
OWNER_USERNAME = "PBX1_OP"
PASSWORD = "X1BOTS"
DATABASE_URL = "mongodb+srv://renamerbot0:anmol@cluster0.mxaxukp.mongodb.net/"
LOGCHANNEL = "-1002198681571"   # Add channel id as: "-100 + Actual_ID"
USER_SESSION_STRING = "BQGuwwsAJ9_9Vul7QVbcU36YplyKc2ouH5TjVsMRGw0ruEZ6UutOmkeYWJhcugFJixElprYvu8xxtwf9Mfafjm8Dsz89rmlr3KtCF3NWyBALz1VUglKmjsb27RT8vDLQOr-WqC392K7qTpwVgtS_Z5C3T7r9Hchk8s9qzSc9KrJ-xc6C5YoYnBU3ZGvfGWmtcJupHvh6blV8_hmlkEuh30U2xvZSO6q8n6ng9OILZly5rGEZ_wv1r7onyYT3GB2oKueKq4NfpQXDX9tNEj9irOuXO4VIrD2QiCjOrwC1oJeoV6mZ9EneWoy20AWC84WzW7vwqqtrldaPHhs86Vv2YjVRq-62mQAAAAFIXGscAA" # Premium account session string to upload upto 4GB (requires "LOGCHANNEL")

# tired of redeploying :(
UPSTREAM_REPO = "https://github.com/yashoswalyo/MERGE-BOT"
UPSTREAM_BRANCH = "master"
